doctype html
html(ng-app='loc8rApp')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src='/angular/angular.js')
    script(src='/lib/angular-route.min.js')
    //script(src='/angular/loc8r.min.js')
    script(src='/app.js')
    script(src='/common/services/loc8rData.service.js' defer)
    script(src='/common/services/geolocation.service.js' defer)
    script(src='/common/directives/ratingStars/ratingStars.directive.js' defer)
    script(src='/common/filters/formatDistance.filter.js' defer)
    script(src='/home/home.controller.js' defer)
    script(src='/javascripts/jquery-1.11.1.min.js' defer)
    script(src='/bootstrap/js/bootstrap.min.js' defer)
    script(src='/javascripts/validation.js' defer)
  body
   .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') Loc8r
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') About

    .container
      div(ng-view)
        block content

      footer
        .row
          .col-xs-12
            small &copy; Simon Holmes 2014
